{% extends 'base.html' %}
{% block content %}

<h1>CheckList</h1>

{% for checklist in checklists %}
<div class="card">
    <a href="{% url 'detail' checklist.id %}">
        <div class="card-content">
            <span class="card-title">{{ checklist.name }}</span>
            <p>Task: {{ checklist.task }}</p>
            <p>Description: {{ checklist.description }}</p>
            {% if checklist.timeslot > 0 %}
            <p>Timeslot: {{ checklist.timeslot }}</p>
            {% else %}
            <p>Timeslot: Incomplete</p>
            {% endif %}
        </div>
    </a>
</div>
{% endfor %}

{% endblock %}